.button-primary {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px 24px;
  background: var(--text-primary);
  color: var(--bg-primary);
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s;
  border: none;
  border-radius: 16px;
}

.button-secondary {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px 24px;
  background: var(--navbtn);
  color: var(--text-primary);
  border: 0.5px solid var(--stroke);
  backdrop-filter: blur(16px);
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s;
  border-radius: 16px;
}

.icon-btn {
    flex-shrink: 0;
}

.button-label {
    font-family: Unbounded;
    font-size: var(--fs-button);
    text-decoration: none;
    letter-spacing: 0.5px;
    font-weight: 400;
    flex-shrink: 0;

}

.button-secondary::before {
  content: '';
  position: absolute;
  left: var(--x, 50%);
  top: var(--y, 50%);
  width: 200px;
  height: 200px;
  background: radial-gradient(circle, var(--bg-accent) 10%, transparent 70%);
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.4s ease;
  border-radius: 50%;
  opacity: 0.5;
  pointer-events: none;
  z-index: 0;
}

.button-secondary:hover::before {
  transform: translate(-50%, -50%) scale(1.2);
}

.button-primary:hover {
  background: var(--text-secondary);
}

.button-secondary:hover {
  color: var(--text-primary);
}

@media (max-width: 599px) {
}