.case-img__img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.case-img__caption {
  font-size: 18px;
  line-height: 140%;
  color: var(--text-tertiary);
  margin-top: 12px;
}

@media (max-width: 599px) {
  .case-img__caption {
    font-size: min(4vw, 18px);
    margin-top: 8px;
  }
}
