.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    min-height: 90vh;
    padding-top: 6vw;
    padding-bottom: 9vw;
}

.pro-card {
    grid-column: 7 / span 6;
}

.contact-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-column: 2 / span 5;
}

.footer-header {
    font-size: var(--fs-footer-header);
    line-height: 120%;
}

.con-footer {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    align-items: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    gap: 40px;
    flex-grow: 1;
    overflow: hidden;
}

.link-circle {

    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;

}

.link-c-image {
    color: var(--text-secondary);
    position: absolute;
    height: 56px;
    margin-left: -10px;

}

@media (min-width: 1600px) {
    .footer {
    min-height: auto;
    height: 1000px;
    padding-top: 80px;
    padding-bottom: 160px;
}
}

@media (max-width: 1279px) {
    .pro-card {
        grid-column: span 12;
    }

    .contact-left {
        grid-row: 2 / span 1;
        grid-column: span 12;
        text-align: center;
        padding-top: 2vw;
    }

    .con-footer {

        justify-content: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;

    }
}

@media (max-width: 1079px) {

    .pro-card {
        grid-column: span 8;
    }

    .contact-left {
        grid-row: 2 / span 1;
        grid-column: span 8;
        text-align: center;
        padding-top: 8vw;
    }

    .con-footer {

        justify-content: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        align-items: flex-end;
        -webkit-box-align: end;
        -ms-flex-align: end;
        gap: 40px;
        flex-grow: 1;
        overflow: hidden;
    }

    .footer {
        margin-top: 10vw;
        margin-bottom: 10vw;
    }

    .link-c-image {

    position: absolute;
    height: 64px;
    margin-left: 0px;

}

}

@media (max-width: 599px) {

    .con-footer {
        gap: 0px;
    }

    .link-circle {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }

}