.col-feedback {
    position: relative;
    grid-column: span 6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2vw;
}

.card-feedback {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 32px;
    gap: 16px;
}

.user-cell {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    color: var(--text-primary);
    margin-bottom: 8px;
}

.user-cell-text {
    display: flex;
    flex-direction: column;

}


@media (max-width: 1079px) {

.col-feedback {
    grid-column: span 8;
    gap: 3vw;
}
    
}

@media (max-width: 599px) {

    .col-feedback {
    grid-column: span 8;
    gap:4vw;
}

.card-feedback {
    padding: 24px;
}

.user-cell {
    margin-bottom: 0px;
}

.user-cell-text {
    gap: 4px;
}

}