.navigation {
  /*overflow: hidden;*/
  position: sticky;
  top: 0px;
  padding-top: 8px;
  padding-bottom: 0;
  z-index: 1500;
  /*left: 50%;
  transform: translateX(-50%);*/
  --blur-progress: 0;
}

.navbar {
  position: relative;
  overflow: hidden;
  z-index: 1200;
  width: calc(100% + 48px);
  /* расширяем на 24px слева и справа */
  margin-left: -24px;
  margin-right: -24px;
  border-radius: 28px;
  transition: backdrop-filter 0.5s ease, background-color 0.5s ease;
}

.navbar.blurred {
  
  backdrop-filter: blur(48px) saturate(150%);
  background-color: var(--navbar);
  border: 0.5px solid var(--stroke);
}

.navbar.blurred::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("data:image/svg+xml,%3Csvg%20id='noice'%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20100%20100'%3E%3Cfilter%20id='noise-filter'%3E%3CfeTurbulence%20type='fractalNoise'%20baseFrequency='3'%20numOctaves='4'%20stitchTiles='stitch'/%3E%3CfeColorMatrix%20type='saturate'%20values='0'/%3E%3CfeComponentTransfer%3E%3CfeFuncR%20type='linear'%20slope='0.82'/%3E%3CfeFuncG%20type='linear'%20slope='0.82'/%3E%3CfeFuncB%20type='linear'%20slope='0.82'/%3E%3CfeFuncA%20type='linear'%20slope='0.35'/%3E%3C/feComponentTransfer%3E%3CfeComponentTransfer%3E%3CfeFuncR%20type='linear'%20slope='2.37'%20intercept='-0.69'/%3E%3CfeFuncG%20type='linear'%20slope='2.37'%20intercept='-0.69'/%3E%3CfeFuncB%20type='linear'%20slope='2.37'%20intercept='-0.69'/%3E%3C/feComponentTransfer%3E%3C/filter%3E%3Crect%20width='200'%20height='200'%20filter='url(%23noise-filter)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  opacity: 0.15;
  pointer-events: none;
  z-index: 1;
}

.menu-mask-wrapper {
  position: relative;
  overflow: hidden;
  /* Важно: прячем маску за пределами */
  -webkit-mask-image: linear-gradient(to right, transparent 0px, black 20px, black calc(100% - 20px), transparent 100%);
  mask-image: linear-gradient(to right, transparent 0px, black 20px, black calc(100% - 20px), transparent 100%);
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}

.menu-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  overflow-x: auto;
  padding: 28px 24px 28px 24px;
  scrollbar-width: none;  
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

.menu-wrapper::-webkit-scrollbar {
  display: none;              
}

.nav-link {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  color: var(--text-primary);
  text-decoration: none;
  opacity: 60%;
  transition: all 0.2s;
}

.nav-link:hover {
  transform: scale(1.07);
}

.nav-link.active {
  opacity: 100%;
}

@media (max-width: 1079px) {
  .menu-wrapper {
  gap: 32px;
}
}

@media (max-width: 599px) {
  .navigation {
    padding: 8px 16px;
  }

  .navbar {
    width: calc(100% + 16px);
    border-radius: 24px;
    margin-left: -8px;
    margin-right: -8px;
    
  }

  .menu-wrapper {
  gap: 24px;
  padding: 20px;
}

}