.navigation {
  overflow: hidden;
  position: sticky;
  top: 0px;
  padding: 8px 6vw;
  z-index: 1500;
  /*left: 50%;
  transform: translateX(-50%);*/
}

.navbar {
  display: flex;
  width: calc(100% + 0px);
  /* расширяем на 24px слева и справа */
  margin-left: -24px;
  margin-right: -24px;
  align-items: center;
  gap: 40px;
  overflow: auto;
  padding: 24px 24px 28px 24px;
  border-radius: 24px;
  transition: backdrop-filter 0.5s ease, background-color 0.5s ease;
  backdrop-filter: none;
}

.navbar.blurred {
  backdrop-filter: blur(64px);
  background-color: var(--navbar);
}

.nav-link {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  color: var(--navlink);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--text-secondary);
}

.nav-link.active {
  color: var(--text-primary);
}


@media (min-width: 1600px) {
  .navigation {
    padding: 8px 8vw;
  }

}

@media (max-width: 1079px) {
  .navbar {
    gap: 4vw;
  }

}

@media (max-width: 599px) {
  .navigation {
    padding: 8px 16px;
  }

  .navbar {
    width: calc(100% - 24px);
    gap: 6vw;
    margin-left: -8px;
    margin-right: -8px;
    padding: 20px 20px 24px 20px;
  }

}