.navigation {
  overflow: hidden;
  position: sticky;
  top: 0px;
  padding: 8px 6vw;
  z-index: 1500;
  /*left: 50%;
  transform: translateX(-50%);*/
}

.navbar {
  width: calc(100% + 48px);
  /* расширяем на 24px слева и справа */
  margin-left: -24px;
  margin-right: -24px;
  border-radius: 24px;
  transition: backdrop-filter 0.5s ease, background-color 0.5s ease;
  backdrop-filter: none;
}

.navbar.blurred {
  backdrop-filter: blur(64px);
  -webkit-backdrop-filter: blur(64px);
  background-color: var(--navbar);
}

.menu-mask-wrapper {
  position: relative;
  overflow: hidden;
  /* Важно: прячем маску за пределами */
  mask-image: linear-gradient(to right, transparent 0px, black 20px, black calc(100% - 20px), transparent 100%);
  -webkit-mask-image: linear-gradient(to right, transparent 0px, black 20px, black calc(100% - 20px), transparent 100%);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.menu-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  overflow-x: auto;
  padding: 24px 24px 28px 24px;
  scrollbar-width: none;  
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

.menu-wrapper::-webkit-scrollbar {
  display: none;              
}

.nav-link {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  color: var(--navlink);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--text-secondary);
}

.nav-link.active {
  color: var(--text-primary);
}


@media (min-width: 1600px) {
  .navigation {
    padding: 8px 120px;
  }

}

@media (max-width: 1079px) {
  .menu-wrapper {
  gap: 4vw;
}

}

@media (max-width: 599px) {
  .navigation {
    padding: 8px 16px;
  }

  .navbar {
    width: calc(100% + 16px);
    
    margin-left: -8px;
    margin-right: -8px;
    
  }

  .menu-wrapper {
  gap: 6vw;
  padding: 20px 20px 24px 20px;
}

}