.shot-header {
    padding-top: 200px;
    padding-bottom: 24px;
}

.shot-list {
    display: flex;
    flex-direction: column;
    gap: 4vw;
}

.shot-item {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
    color: #fff;
    background-color: #b8aba8;
    border-radius: 40px;
}

.shot-title {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    
}

.shot-img {
    width: 100%;
    display: block;
    cursor: pointer;
}

.masonry {
    column-count: 2;
    column-gap: 32px;
    row-gap: 32px;
    counter-reset: item-counter;
    width: calc(100% + 32px);
    margin-left: -16px;
    margin-right: -16px;
}

@media (max-width: 1079px) {
    .shot-item {
        padding: 24px;
        gap: 24px;
        border-radius: 32px;
    }
}

@media (max-width: 599px) {

    .shot-header {
    padding-top: 200px;
    padding-bottom: 8px;
}

    .shot-item {
        margin-left: -12px;
        margin-right: -12px;
        padding: 6vw;
        gap: 3vw;
        border-radius: 6vw;
    }

    .shot-title {
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
    padding-bottom: 8px;
}
}