.shot-header {
    padding-top: 100px;
}

.masonry {
    column-count: 3;
    column-gap: 0;
    counter-reset: item-counter;
    width: calc(100% + 24px);
    margin-left: -12px;
    margin-right: -12px;
}

    @media (max-width: 1079px) {
        .shot-col {
            grid-column: span 4;
            gap: 3vw;
        }

        .masonry {
            column-count: 2;
        }
    }

    @media (max-width: 599px) {
        .shot-col {
            width: calc(100% + 24px);
            margin-left: -12px;
            margin-right: -12px;
        }
        .masonry {
            column-count: 1;
        }
    }