@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');

:root {
  --dark--bg-primary: #0B0C0E;
  --dark--bg-secondary: rgba(199, 202, 209, 0.08);
  --dark--bg-card: rgba (122, 122, 122, 0.08);
  --dark--bg-accent: #CCB7B2;
  --dark--text-primary: #EBEDEE;
  --dark--text-secondary: #AAAAA7;
  --dark--text-tertiary: #7A7A77;
  --dark--navlink: #9AA1A7;
  --dark--icon-primary: #EBEDEE;
  --dark--icon-secondary: #646167;
  --dark--icon-tertiary: #7A7A77;
  --dark--stroke: rgba(198, 201, 207, 0.08);
  --dark--navbar: rgba(11, 12, 14, 0.38);
  --dark--navbtn: rgba(50, 51, 54, 0.4);

  --light--bg-primary: #FAF7F3;
  --light--bg-secondary: rgba(169, 161, 137, 0.08);
  --light--bg-card: #ffffff;
  --light--bg-accent: #EBE6E0;
  --light--text-primary: #222831;
  --light--text-secondary: #393E46;
  --light--text-tertiary: #9E9485;
  --light--navlink: #A1A1A6;
  --light--icon-primary: #222831;
  --light--icon-secondary: #B8AC9B;
  --light--icon-tertiary: #000;
  --light--stroke: rgba(154, 145, 117, 0.1);
  --light--navbar: rgba(250, 247, 243, 0.7);
  --light--navbtn: #ffffff;

}

html {
  background-color: var(--bg-primary);
  scroll-margin-top: 100px;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  position: relative;
  font-family: 'Exo 2', sans-serif;
  font-optical-sizing: auto;
  font-size: 22px;
  line-height: 160%;
  font-weight: 350;
  font-style: normal;
  letter-spacing: 0.2px;
}

section {
  position: relative;
  width: 100%;
  /*overflow: hidden;*/
  height: auto;
  padding: 56px 64px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  scroll-margin-top: 100px;
}


.card-blur {
  grid-column: span 4;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  flex-shrink: 0;
  gap: 24px;
  padding: 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid var(--stroke);
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  box-sizing: border-box;
}

.avatar {
  width: 56px;
  height: 56px;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
}

.list-item {
  margin-bottom: 12px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

.list-item:last-child {
  margin-bottom: 0;
}



.list-item-i {
  margin-right: 12px;
  margin-top: -2px;
  height: 32px;
  flex-shrink: 0;
}

.callout {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 4px;
  padding: 16px;
  background-color: var(--bg-secondary);
  border: 0.5px solid var(--stroke);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  font-weight: 500;
  line-height: 140%;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--stroke);
}

.fade-in {
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out, -webkit-transform 0.6s ease-out;
  -moz-transition: opacity 0.6s ease-out, -moz-transform 0.6s ease-out;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1;
}


.par-wrapper {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
}

.grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 2vw;
  row-gap: 2vw;

}

.s-8 {
  margin-bottom: 8px;
}

.s-12 {
  margin-bottom: 12px;
}

.s-16 {
  margin-bottom: 16px;
}

.s-24 {
  margin-bottom: 24px;
}

.s-32 {
  margin-bottom: 32px;
}

.s-40 {
  margin-bottom: 40px;
}

.s-48 {
  margin-bottom: 48px;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;
}

.col-7 {
  grid-column: span 7;
}

.col-8 {
  grid-column: span 8;
}

.col-9 {
  grid-column: span 9;
}

.col-10 {
  grid-column: span 10;
}

.col-11 {
  grid-column: span 11;
}

.col-12 {
  grid-column: span 12;
}

h1 {
  font-family: 'Unbounded', sans-serif;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: -1px;
  font-weight: 500;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

h2 {
  font-family: 'Unbounded', sans-serif;
  font-size: 52px;
  line-height: 130%;
  font-weight: 500;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

h3 {
  font-family: 'Unbounded', sans-serif;
  font-size: 24px;
  line-height: 140%;
  font-weight: 400;
  letter-spacing: 0.7px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

h4 {
  font-family: 'Unbounded', sans-serif;
  font-size: 20px;
  line-height: 140%;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

p {
  font-optical-sizing: auto;
  font-style: normal;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.text-label-18 {
  font-family: 'Unbounded', sans-serif;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 1px;
  font-weight: 350;
}

.text-label-24 {
  font-family: 'Unbounded', sans-serif;
  line-height: 130%;
  letter-spacing: 0.5px;
  font-weight: 350;

}

.p0 {
  font-family: 'Unbounded', sans-serif;
  font-size: 24px;
  line-height: 180%;
  letter-spacing: 0.5px;
  font-weight: 250;
}

.p1 {
  font-family: 'Unbounded', sans-serif;
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 0.3px;
  font-weight: 300;
}

.p2 {
  font-family: 'Unbounded', sans-serif;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.3px;
  font-weight: 300;
}

.p-1 {
  font-size: 24px;
  line-height: 160%;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.p-2 {
  font-size: 20px;
  line-height: 160%;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.p-3 {
  font-size: 18px;
  line-height: 160%;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.icon {
  margin-right: 12px;
  flex-shrink: 0;
}

.label {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  gap: 4px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tltle {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: column;
  gap: 2vw;
}


@media (max-width: 1079px) {

  section {
    padding: 56px 48px;
    max-width: 850px;
  }

  .grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 3vw;
    row-gap: 3vw;
  }

  h1 {
    font-size: 9.9vw;
  }

}

@media (max-width: 599px) {

  section {
    height: auto;
    padding: 6vw 24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 4vw;
    row-gap: 3vw;
  }

  .card-blur {
    gap: 5vw;
    padding: 6vw;
    border-radius: 7vw;
    -webkit-border-radius: 7vw;
    -moz-border-radius: 7vw;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .card {
    width: calc(100% + 24px);
    margin-left: -12px;
    margin-right: -12px;
  }

  h1 {
    font-size: 10vw;
  }

  h2 {
    font-size: 8vw;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: min(4vw, 20px);
  }

  .p0 {
    font-size: 16px;
  }

  .p1 {
    font-size: 16px;
  }

  .p2 {
    font-size: 14px;
  }

  .p4 {
    font-size: 10px;
  }

  .p-1 {
    font-size: min(5vw, 24px);
  }

  .p-2 {
    font-size: min(4.5vw, 20px);
  }

  .p-3 {
    font-size: min(4vw, 18px);
    line-height: 140%;

  }

  .s-24 {
    margin-bottom: 16px;
  }

  .s-40 {
    margin-bottom: 24px;
  }

}